body{
	background:#16684C;
	color :#fff;
}
form{
	width: 25%;
	border:1px solid;
	margin:20px;
	padding:20px;
}
label{
	font-size: 15px;
	display: block;
	width: 100%;
}
input ,textarea {
	margin-bottom: 20px;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing : border-box;
	-moz-box-sizing : border-box;
	box-sizing : border-box;
}
input:focus,textarea:focus {
	border: 1px solid #1668C4;

}
textarea {
	resize :vertical;
	max-height:300px;
	min-height: 100px;

}
input [type="submit"]{
	margin-bottom: 0;
	background: #16684C;
	color: #fff;
	border: none;
}
input [type="submit"]:hover{
	background: #4A88F4;
	cursor: pointer;

}
h2{
	padding: 30px;


}
footer{
	background: #000000;
	color:#ccc;
	clear:both;
	padding: 5px 0px;
	text-align: center;
}